.navbar {
	border-bottom: 0.5rem solid #00983a;
	margin-bottom: 0.5rem;
}

a:not(.btn), a:link:not(.btn) {
	color: #00983a;
}

a:visited:not(.btn), a:link:visited:not(.btn) {
	color: #00692b;
}

a:hover:not(.btn), a:link:hover:not(.btn) {
	color: #00cc4e;
}

a:active:not(.btn), a:link:active:not(.btn) {
	color: #33ff81;
}

tr.locked {
	background: #d6d8db;
	color: #666;
}

tr.locked a {
	color: #333;
}

@media (min-width: 576px) {
	img.fill-large {
		width: 100% !important;
	}
}

td.photo {
	width: 3rem;
	padding: 0 .75rem 0 0 !important;
}

td.photo img {
	width: 4rem;
}
